
{{ define "footer" }}
<footer class="py-4 bg-dark text-white-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-3"><a href="#" class="text-white"><i class="bi bi-linkedin fs-4"></i></a></li>
                    <li class="list-inline-item me-3"><a href="#" class="text-white"><i class="bi bi-twitter-x fs-4"></i></a></li>
                    <li class="list-inline-item me-3"><a href="#" class="text-white"><i class="bi bi-facebook fs-4"></i></a></li>
                    <li class="list-inline-item me-3"><a href="#" class="text-white"><i class="bi bi-instagram fs-4"></i></a></li>
                    <li class="list-inline-item me-3"><a href="#" class="text-white"><i class="bi bi-pinterest fs-4"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-wechat fs-4"></i></a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-end">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#" class="text-white-50 text-decoration-none">TENTANG SAYA</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white-50 text-decoration-none">| KONTAK PERSON</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white-50 text-decoration-none">| MEMBERSHIP</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white-50 text-decoration-none">| COMMERCIAL</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white-50 text-decoration-none">| NEWSLETTER</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white-50 text-decoration-none">| TERMS OF SERVICE</a></li>                        
                    <li class="list-inline-item"><a href="#" class="text-white-50 text-decoration-none">| <i class="bi bi-info-circle"></i> DO NOT SELL MY PERSONAL INFO</a></li>
                </ul>
                <small>© 2025 com.agustibayusamudro27</small>
            </div>
        </div>
    </div>
</footer>
{{end}}