{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Managemen UMKM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active d-flex align-items-center" aria-current="page" href="#"><i class="bi bi-house-door-fill me-2"></i>Pos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#"><i class="bi bi-tag-fill me-2"></i>Kategori</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-grid-fill me-2"></i> Keuangan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Kategori</a></li>
                        <li><a class="dropdown-item" href="#">Buku Besar</a></li>                        
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Laporan</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                <marquee class="navbar-text text-light me-lg-4 mb-2 mb-lg-0">
                    Terimakasi Sudah Menggunakan aplikasi ini semoga dapat membantu ~ Managemen Keuangan sulit, bingung dengan mengelolanya kami siap untuk membantu ~ Aplikasi ini di buat untuk mempermudah usaha dalam mengolah keuangan anda
                </marquee>
                <form class="d-flex mb-2 mb-lg-0 me-lg-3">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <span class="navbar-text mb-2 mb-lg-0 me-lg-3" id="realtimeClock"></span>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>AGUSTI</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">
                                <i class="bi bi-gear-fill me-2"></i>Setting
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><h6 class="dropdown-header">Manage</h6></li>
                                <li><a class="dropdown-item" href="/toko">Toko</a></li>
                                <li><a class="dropdown-item" href="/user">User</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{{end}}
